<!DOCTYPE html>
<html>
    <head>
        <title>Error!</title>
        <link rel="icon" href="/img/icon.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>Error: {{ error }}</p>
        </div>
        {{>footer}}
    </body>
</html>
