<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/icon.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img class="portrait" src="/img/test.png">
            <p>This was made by cross-codes. The API used was from OpenWeatherMap</p>
            <p>A geocoding API and a weather API was used simultaneously to improve accuracy</p>
        </div>
        {{>footer}}
    </body>
</html>
